.footer{
  background-color: var(--color-black);
  color: var(--color-white);
  padding-block: 4.19rem;
  width: 100%;
  text-align: center;
  margin-top: 6.25rem;
  font-family: var(--font-secondary);
}