.form{
  width: 43.75rem;

  display: flex;
  flex-direction: column;
  gap: 3.5625rem;
  align-items: center;
}
.form input {
  width: 100%;
  padding: 1.65rem;

  font-family: var(--font-primary);
  font-size: 1.1875rem;
  font-weight: 400;

  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  color: var(--color-black);
}

.form input::placeholder {
  color: var(--color-black);
}